@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --highlight-color: #feb32b;
  --highlight-fade-color: #f6f6f6;
  --bg-color: #1f1941;
  --navbar-color: #140d30;
  --bg-fade-color: rgb(23, 20, 66);
}

* {
  color: rgb(249, 234, 225);
  font-family: Inter;
  font-size: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--bg-color);
  font-size: 20px;
}

.content-wrapper > * {
  margin: 10px 20px;
}

.navbar {
  font-size: 23px;
  position: sticky;
  top: 0;
  margin: 0px;
  background-color: var(--navbar-color);
  display: flex;
  padding: 13px 10px;
  justify-content: space-between;
}

.navbar a {
  border-radius: 3px;
  text-decoration: none;
  padding: 8px;
}

.navbar a:hover {
  background-color: var(--bg-fade-color);
}

.navbar-title {
  font-weight: bolder;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
}

.trophy-board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.trophy-card {
  background-color: rgb(38, 38, 75);
  width: 140px;
  padding: 5px;
  font-size: 14px;
  border-radius: 7px;
  margin: 5px;
}

.trophy-category {
  margin: 5px auto;
  text-align: center;
  width: 130px;
}

.trophy-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px;
}

.trophy-number {
  margin: 5px;
}
