<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <title>Cryck | CryptoHack Tool</title>
  </head>
  <body>
    <p class="credit">
      Hosted on <a href="https://github.com/diksown/cryck">GitHub</a> by
      <a href="https://github.com/diksown">Dikson</a>
    </p>
    <div class="content-wrapper">
      <h1>Cryck</h1>
      <p class="description">
        Keep track of your unsolved CryptoHack challenges.
      </p>
      <a href="../index.html" target="_new">Go to Single-User tracking</a>
      <div class="main-container">
        <div class="input-table-container">
          <div class="input-container">
            <input
              id="username-input1"
              type="text"
              placeholder="Username"
              spellcheck="false"
            />
            <span id="error1"></span>
          </div>
          <div>
            <table id="challs-table">
              <thead>
                <tr>
                  <th>Challenge</th>
                  <th>Category</th>
                  <th>Points</th>
                  <!-- <th>Solves</th> -->
                </tr>
              </thead>
              <tbody id="challs-table-content1">
                <tr>
                  <td>Quick Maths</td>
                  <td>Mathematics</td>
                  <td>⭐ 20</td>
                  <!-- <td>6666</td> -->
                </tr>
                <tr>
                  <td>Break RSA</td>
                  <td>RSA</td>
                  <td>⭐ 300</td>
                  <!-- <td>42</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="input-table-container">
          <div class="input-container">
            <input
              id="username-input2"
              type="text"
              placeholder="Username"
              spellcheck="false"
            />
            <span id="error2"></span>
          </div>
          <div>
            <table id="challs-table">
              <thead>
                <tr>
                  <th>Challenge</th>
                  <th>Category</th>
                  <th>Points</th>
                  <!-- <th>Solves</th> -->
                </tr>
              </thead>
              <tbody id="challs-table-content2">
                <tr>
                  <td>Quick Maths</td>
                  <td>Mathematics</td>
                  <td>⭐ 20</td>
                  <!-- <td>6666</td> -->
                </tr>
                <tr>
                  <td>Break RSA</td>
                  <td>RSA</td>
                  <td>⭐ 300</td>
                  <!-- <td>42</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="compare-btn-container">
          <button id="compare-btn" type="button">Compare!</button>
        </div>
      </div>
    </div>
    <script src="../js/compare.js"></script>
  </body>
</html>
